100 ICON PRELOAD "lunea.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION    1,0,0,1
PRODUCTVERSION 1,0,0,1
FILEFLAGSMASK  0x17L
FILEFLAGS      0x0L
FILEOS         0x4L
FILETYPE       0x0L
FILESUBTYPE    0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "0c0a04b0"
        BEGIN
            VALUE "Comments",         "Lunea"
            VALUE "CompanyName",      "Lunea"
            VALUE "FileDescription",  "Lunea"
            VALUE "FileVersion",      "1, 0, 0, 0"
            VALUE "InternalName",     "Lunea"
            VALUE "LegalCopyright",   "(C) Lunea"
            VALUE "LegalTrademarks",  "Lunea"
            VALUE "OriginalFilename", "lunea.exe"
            VALUE "ProductName",      "Lunea"
            VALUE "ProductVersion",   "1, 0, 0, 0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0xc0a, 1200
    END
END